* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f5f5f5;
    height: 100vh;
}

/* Student Info page style */
#info-page
{
    position: fixed;
    top: 10;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #8b0000 0%, #a80000 50%, #c40000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
}

/* Student Info container style*/
.info-container
{
    height: auto;
    width: 90%;
    max-width: 420px;   /* good for desktop */
    background-color: white;
    border-radius: 25px;
    padding-bottom: 20px;
}

/* Student Info header style */
.info-header
{
    margin-top: 2%;
    font-size: 18px;
    font-weight: 900;
    color: #8b0000;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Student Info body style */
.info-body
{
    font-size: 14px;
    padding: 25px; 
}

/* Select tag style */
select
{
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    background-color: #f9f9f9;
    outline: none;
    box-shadow: none;
    color: black;
    border-style: none;
    border-radius: 5px;
}

button
{
    height: 100%;
    width: 50%;
    padding: 15px;
    margin-left: 25%;
    border-radius: 5px;
    border-style: none;
    font-weight: 500;
    font-size: 16px;
}

button:hover
{
    background-color: #8b0000;
    color: white;
}